:root {
  --bg: white;
  --pri: 0;
  --sec: 0;
  --ter: 0;
}

body {
  margin: .5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  background-color: var(--bg);
}

.container {
  margin: 1rem;
}

.nav {
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  color: black;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  color: inherit;
  font-size: 20px;
}

.nav .site-title {
  font-size: 100px;
  background-color: black;
  color: white;
}

.nav li.active {
  color: #725AC1;
}

.nav li:hover {
  background-color: black;
  color: white;
}

.pageID {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.pgidline {
  width: 100%;
  height: 1px;
  background-color: black;
}

.pgidname {
  position: absolute;
  background-color: var(--bg);
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .pgiddecor {
  position: absolute;
  margin-top: 95px;
  width: 10%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.details {
  font-size: 50px;
  width: fit-content;
  margin: 0;
}

.detemail {
  font-size: 18px;
  text-indent: 4px;
}

.signout {
  width: 80px;
  height: 30px;
  background-color: var(--bg);
  color: black;
  border: 1px solid black;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  cursor: pointer;
}

.signout:hover {
  background-color: black;
  color: white;
}

.form {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 15vw;
  width: fit-content;
  background-color: black;
  color: white;
  margin-bottom: 25px;
}

.form input {
  text-indent: 5px;
}

.loginemail {
  width: 40vw;
  height: 60px;
  border: 0;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.loginpass {
  width: 40vw;
  height: 60px;
  border: 0;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.signin {
  width: 80px;
  height: 30px;
  background-color: var(--bg);
  color: black;
  border: 1px solid black;
  margin-bottom: 15px;
  cursor: pointer;
}

.signin:hover {
  background-color: black;
  color: white;
}

.rerg {
  color: black;
}

.registeremail {
  width: 40vw;
  height: 60px;
  border: 0;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.registerpass {
  width: 40vw;
  height: 60px;
  border: 0;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.register {
  width: 80px;
  height: 30px;
  background-color: var(--bg);
  color: black;
  border: 1px solid black;
  margin-bottom: 15px;
  cursor: pointer;
}

.register:hover {
  background-color: black;
  color: white;
}

.relg {
  color: black;
}

.rack {
  overflow: scroll;
}

.shelf {
  width: 90vw;
}

.shelfname {
  font-size: 60px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.shelfname .actshlfname {
  margin-right: 30px;
}

.books {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  overflow: scroll;
}

.books .book {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
  font-size: 20px;
}

.editshelf {
  width: 80px;
  height: 30px;
  background-color: var(--bg);
  color: black;
  border: 1px solid black;
  cursor: pointer;
  margin-right: 10px;
}

.editshelf:hover {
  background-color: black;
  color: white;
}

.delshelf {
  width: 80px;
  height: 30px;
  background-color: var(--bg);
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.delshelf:hover {
  background-color: black;
  color: white;
}

.shelfaddtools {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.addshelf {
  width: 15vw;
  height: 60px;
  border: 0;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
  margin-right: 30px;
}

.addshbtn {
  width: 80px;
  height: 30px;
  background-color: var(--bg);
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.addshbtn:hover {
  background-color: black;
  color: white;
}

.removebook {
  width: 30px;
  height: 30px;
  background-color: var(--bg);
  color: black;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  left: 20px;
}

.removebook:hover {
  background-color: black;
  color: white;
}